@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h4>Add an treat to this flavor: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}



<p>@Html.ActionLink("Back to Flavors", "Index")</p>
